@model Bookish.DataAccess.Records.LoanedBook

@{
    ViewData["Title"] = "Book returned!";
}

<h1 class="display-4">Book returned!</h1>

<p class="top-padded">
    Thank you for returning @Model.Title.
<p>
